<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.telering.lightcircle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightCircle">
        <activity
            android:name=".navbar.InfosActivity"
            android:exported="false" />
        <activity
            android:name=".navbar.FlashCodeActivity"
            android:exported="false" />
        <activity
            android:name=".navbar.LightsActivity"
            android:exported="false" />
        <activity
            android:name=".navbar.VibratorActivity"
            android:exported="false" />
        <activity
            android:name=".NightModeActivity"
            android:exported="false" />
        <activity
            android:name=".group.EditGroupActivity"
            android:exported="false" />
        <activity
            android:name=".group.GroupActivity"
            android:exported="false" />
        <activity
            android:name=".group.NewGroupActivity"
            android:exported="false" />
        <activity
            android:name=".group.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>